@import "inc/bootstrap";
$borderGray: #E5E4E4;
$collapserHeight: 30px;

.top-block-preview {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &.open {
        transform: translate(-50%, 0);
        transition: transform .5s ease-out;
    }
    &.close {
        transform: translate(-50%, calc(#{$collapserHeight} - 100%));
        transition: transform .5s ease-out;
    }
}
.top-block-preview-main {
    display: flex;
    padding: 12px 24px;
    background-color: $uiClickableDefaultBg;
    .btn-info {
        margin-left: 16px;
        white-space: nowrap;
        .icon {
            padding-left: 9px;
            padding-right: 0;
        }
    }
    border: solid 1px $borderGray;
}
.top-block-preview-info {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        margin-bottom: 0;
    }
}
.top-block-preview-collapser {
    position: relative;
    width: 60px;
    height: $collapserHeight;
    background-color: $uiClickableDefaultBg;
    border-bottom-left-radius: $collapserHeight;
    border-bottom-right-radius: $collapserHeight;
    transform: translateY(-10px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-left: solid 1px $borderGray;
    border-right: solid 1px $borderGray;
    &::before {
        content: " ";
        width: 60px;
        height: 10px;
        background-color: $uiClickableDefaultBg;
        position: absolute;
        top: -1px;
    }
}
