
.item-previewer-scope {
    .action-bar.content-action-bar {


        &.horizontal-action-bar {


            & > .control-box {

                .select2-container{
                    text-shadow: none;
                    margin-right: 1em;
                    margin-top: .3em;
                }
                .mobile-selectors-container{
                    display: inline-block;
                }
            }
        }
    }

}


